@keyframes loading{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

#contenedor ul{
  position: relative;
  list-style: none;
}

#contenedor ul li{
  position: absolute;
  top: 50%;
  left: 50%;
  border: 5px solid white;
  border-radius: 100%;
}

#contenedor ul li:nth-child(1) {
  margin: -30px 0 0 -30px;
  border-top-color: #07043a;
  width: 60px;
  height: 60px;
  animation: loading 1.5s infinite linear;
}

#contenedor ul li:nth-child(2) {
  margin: -20px 0 0 -20px;
  border-top-color: #07043a;
  width: 40px;
  height: 40px;
  animation: loading 1s infinite linear;
}

#contenedor ul li:nth-child(3) {
  margin: -10px 0 0 -10px;
  border-top-color: #07043a;
  width: 20px;
  height: 20px;
  animation: loading 0.5s infinite linear;
}