@import url('https://fonts.cdnfonts.com/css/poppins');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    position: relative;
    min-width: 400px;
}

.container_mssg{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_product {
    padding-top: .5rem;
    width: 100%;
    display: flex;
    gap: calc(var(--gap));
    justify-content: center;
    align-items: flex-start;
}

.container_product span{
    font-size: calc(var(--font-size)*0.55);
}

.container_product img{
    width: 8rem;
    height: auto;
}

.container_mssg > h6{
    text-align: center;
    display: block;
    font-size: calc(var(--font-size)*0.45);
    color: #07043a;
}